<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.j1</string>
			<key>IV</key>
			<string>ab5e7e604548c32375d75538df064f87</string>
			<key>Key</key>
			<string>34bb085a0ad39eff9f28f3d51aa2a927043bb27919c5e37d71d4103ece0c6d37</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.j1</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4242-009.dmg</string>
			<key>IV</key>
			<string>02bbd3995ca1c0f3dfb90d28eb0175f7</string>
			<key>Key</key>
			<string>1971c369c166293f9301bde534695e80820111b94d4bfd91da9cf4a410695922</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4289-009.dmg</string>
			<key>IV</key>
			<string>8ee27ab56cf7d9eaac94bfa15c90f70c</string>
			<key>Key</key>
			<string>7de26d3a0dd39e55822ba5321252af98ac1cb26a2219ec08b1e65c897cd73d5a</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.j1ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>fa457818157d83dfbbf400a79d5b6c59</string>
			<key>Key</key>
			<string>4cac9c6507032f7eb54349216e3648142aa79b39ae2fefb60a69ac4bb8794ebf</string>
			<key>Patch</key>
			<string>iBSS.j1ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.j1ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>270bc9a3a38a5d9862867b34a94e3f87</string>
			<key>Key</key>
			<string>cfc64b699aeaf538829c79cb48a06aa8f71e9f336dd2afc3b64236c5588f7d86</string>
			<key>Patch</key>
			<string>iBEC.j1ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.j1ap.production/DeviceTree.j1ap.img3</string>
			<key>IV</key>
			<string>6fe5de33e91282f4a577bdf2c808c912</string>
			<key>Key</key>
			<string>c861a7ff5b4860b52e235f9179af5b2282ff702c0a243df3cf4bb2b1847312d3</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.j1ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.j1ap.production/applelogo@2x~ipad.s5l8945x.img3</string>
			<key>IV</key>
			<string>5d8e9ff970f5badfcfc8c8615c96c14e</string>
			<key>Key</key>
			<string>c713f87a9db68f62f5ca5be7c747b64c6d10ec0fa35f86eb8613affa4737fd78</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~ipad.s5l8945x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.j1.plist</string>
	<key>RootFilesystem</key>
	<string>058-4505-009.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1728</integer>
	<key>RootFilesystemKey</key>
	<string>6373fdff37556c58968b8f58d9b4349f9910bcc2972cd750e3329c167f21d5b687646aad</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sochi11D257.J1OS</string>
	<key>SHA1</key>
	<string>87c96a6a710ca5ca2845c927bc54be6e6ad38d85</string>
	<key>Filename</key>
	<string>iPad3,1_7.1.2_11D257_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad3,1_7.1.2_11D257</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
