<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>0a904ae8f0b78a0d4b1210ff0aa54c62</string>
			<key>Key</key>
			<string>acccbb678b8b26cf5d1c7ef981b5e8bc3d6b8d2a6ffa05e5ee9d6e8e7f960220</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-14557-073.dmg</string>
			<key>IV</key>
			<string>e4a35b0bf52aa305f6bf2d123b5436a0</string>
			<key>Key</key>
			<string>abd342978853396473dd5748323573e9773e482a37c7cdc45509ede27dd7ac9f</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-14496-073.dmg</string>
			<key>IV</key>
			<string>f9791d366b82ec1279977f6f42030cdc</string>
			<key>Key</key>
			<string>e4aa9f89a57c0a5508e9ed8b3bbde7df400e106f6a5dfc454dc05f064f584151</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>ede34ba3eabef71bc3edc3d1245ec014</string>
			<key>Key</key>
			<string>a7cd746de8dbb7f64098ed06a35374aa44294b1fad2cc71f31f48c23d7e3be13</string>
			<key>Patch</key>
			<string>iBSS.n42.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>167897c8fa5992fab32a37e326ad833a</string>
			<key>Key</key>
			<string>a165efc2a750ac2cbf3d7a6782352a0cf2a09d63eb3e62577e29e001c5d6b7a8</string>
			<key>Patch</key>
			<string>iBEC.n42.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>31237043ecf67ab95f45953da4d5b1a9</string>
			<key>Key</key>
			<string>2d77146f5f8e337d7de2c6f2a6fbb9e7918860eeed95e87b88f7340924534481</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>1c0253a5b30cd4e767384ddecf5f2b20</string>
			<key>Key</key>
			<string>3a9b60dff5f00de0bf1b1b09e7078077607a3d0fb9bcbace310bbeed9c4cba59</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RootFilesystem</key>
	<string>058-14626-073.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2044</integer>
	<key>RootFilesystemKey</key>
	<string>c9fabc9d5d7067f0fefc4f38bc5225b896c6dcca550d263539bfb8c08cc6d0dec23db3b6</string>
	<key>RootFilesystemMountVolume</key>
	<string>Stowe12F70.N42OS</string>
	<key>SHA1</key>
	<string>af7193bfedeb4e9c8f535c5716df8c3a7c6704d1</string>
	<key>Filename</key>
	<string>iPhone5,2_8.3_12F70_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,2_8.3_12F70</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
