<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>65f165a986279e0fec258068cc37d2b5</string>
			<key>Key</key>
			<string>cafd9c7149f305e929ac573b8f138da2b42b790cb26e98fff1310b6452dafdd2</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-09774-017.dmg</string>
			<key>IV</key>
			<string>cea55320f1adbc0d891b46217351ed99</string>
			<key>Key</key>
			<string>e34a11a4bf95da0a88cbd2c27ca3cb7b19c5f216a1f4add3e1cb5a4bfc4c7be9</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-09687-017.dmg</string>
			<key>IV</key>
			<string>c7568786cb7b3cbb7f20708b64784515</string>
			<key>Key</key>
			<string>18b8545694792201afab0a95ef99864b6011c94860854ce21694a22cc95ada38</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>c01e798b8fda286928c12c8c9820ae7c</string>
			<key>Key</key>
			<string>242fe2c197a8896a6c95cd28e558ecec482504a156d6044918f8fa99a876ab4b</string>
			<key>Patch</key>
			<string>iBSS.n42.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>cde9a2ba5d681f5d0aef7ce4df492c70</string>
			<key>Key</key>
			<string>19f5dd200a38c6b1f3247c45961a9efa7972f09460d9cea28ede12dfd2d7f013</string>
			<key>Patch</key>
			<string>iBEC.n42.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>42cc09e0066c3ed22614d4f4a8e0b64d</string>
			<key>Key</key>
			<string>7cbe897b1fd79ffac325d488e0a66dbfef41bd2fe9154d461994f949da6fe164</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>0f26e4182ed76e6f2465e372f70b2d94</string>
			<key>Key</key>
			<string>087b3b6f0a7b36f715ba28a32c1faf68d3c37bd50f03bf2e60eaeb2a6c6fdc3c</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RootFilesystem</key>
	<string>058-09875-017.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1962</integer>
	<key>RootFilesystemKey</key>
	<string>02e89744a7143b9bac48fd1adc32a8ed6bcf74d428d0861d790153accb96a413e1c3b8d8</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUOkemoTaos12B440.N42OS</string>
	<key>SHA1</key>
	<string>31a0cd59b0cd97bbab3eb62ec20ee99eea2a76b1</string>
	<key>Filename</key>
	<string>iPhone5,2_8.1.2_12B440_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,2_8.1.2_12B440</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
