<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>af2cb1046f39de19acbada0597b07f89</string>
			<key>Key</key>
			<string>ea4b92802a747ddbda4b80483bba224600b8bd34e793f8cd1c898506156dd918</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-1106-002.dmg</string>
			<key>IV</key>
			<string>23a957e25a368d99547800f21aa6bb93</string>
			<key>Key</key>
			<string>9b2348ccfbea845524d491f93fb52c360d017acbad728faee8206181f4f86e0f</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-1089-002.dmg</string>
			<key>IV</key>
			<string>4656599b57b92fafcfe90c162b8e814e</string>
			<key>Key</key>
			<string>59ba0036adfa292560190605a939518fbc763f5ce6ce4132f9da16eca587bfb0</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>8cfbee4f4bcc33264dfb70884c6b8e65</string>
			<key>Key</key>
			<string>d4359822acd8893c92a550d1f5713c67177995164bc9dbdc2ab78f5542bdaf1c</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>f948fdbe8750ba21d5d36d059652eb8e</string>
			<key>Key</key>
			<string>d3cdea27492f9520c29b3d01fa585b01a15d95a8de29abb73ff56c280e450212</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>11e1282ae9cd69d42833d1b414e85747</string>
			<key>Key</key>
			<string>c40b1d296eeb58502409928c2034903bfe67dca36d20e94cc8497c2e1c23a74b</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>b2f669b628697fb0adaac1fcf457a743</string>
			<key>Key</key>
			<string>3c1057501b2ef53d0c396c3dca0ad48eaa209ae101accf4ec1d54159351837ef</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RootFilesystem</key>
	<string>058-1126-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1589</integer>
	<key>RootFilesystemKey</key>
	<string>fda6f955da41b6b2ea3ffd5da8a927a13803c92289e7cb5f7cdb349e4c787198a41d2eb5</string>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B554a.N42OS</string>
	<key>SHA1</key>
	<string>bccc1b1fc17bb3b701a4ee2c6869c4679f0fc2fa</string>
	<key>Filename</key>
	<string>iPhone5,2_7.0.4_11B554a_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,2_7.0.4_11B554a</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
