<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.j1</string>
			<key>IV</key>
			<string>c449dbc6669efa012de0500a72850e24</string>
			<key>Key</key>
			<string>c0271055fbebd066749929abb6102b447020499d659239d4cf078ff13356b4d0</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.j1</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-0742-002.dmg</string>
			<key>IV</key>
			<string>9fd5c06664c10be371bd69f3ca08c6a8</string>
			<key>Key</key>
			<string>6b71499983b833ed789ddb57926d5eb7b1ad658cbe7517fce785241f31d2d267</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-0734-002.dmg</string>
			<key>IV</key>
			<string>e25febc474886d698e834ee0b20d5e8f</string>
			<key>Key</key>
			<string>052f5aa07e46ccd323ea3989b19a896fd1253a80ae8560d423095701fe3c2fef</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.j1ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>0db8e5ac3588b36f0d183f9022752416</string>
			<key>Key</key>
			<string>2cbca72a04efc19018f1a6262bf83993a2bfc5580b653e8361c88b374a748f6a</string>
			<key>Patch</key>
			<string>iBSS.j1ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.j1ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>2fd0beb0853993162d258bd10e422f3b</string>
			<key>Key</key>
			<string>3be533ec37a29ac8bee428d9cc6420652ea08efcfd5e2e52aa84dea7750bdbcf</string>
			<key>Patch</key>
			<string>iBEC.j1ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.j1ap.production/DeviceTree.j1ap.img3</string>
			<key>IV</key>
			<string>1b4f3c109f0a9c74d0fc68cd22dab4c7</string>
			<key>Key</key>
			<string>d3236859f36ccd8c033831d923b25e32b2893d6977410e3eb3b7c3ce6ea519ab</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.j1ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.j1ap.production/applelogo@2x.s5l8945x.img3</string>
			<key>IV</key>
			<string>0386c32b6ebace8c93447e9c4152b1d0</string>
			<key>Key</key>
			<string>b62498f5ea4f806cf7a87954be91b8cbbe247be498cb3d05ea8fc9ada137853a</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8945x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.j1.plist</string>
	<key>RootFilesystem</key>
	<string>048-0771-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1438</integer>
	<key>RootFilesystemKey</key>
	<string>6df790e4b567854a9b72d5e5836b00313973f905bde5875de799f99102b90797c27910d1</string>
	<key>RootFilesystemMountVolume</key>
	<string>Brighton10B146.J1OS</string>
	<key>SHA1</key>
	<string>ec85e851bc57f54749d71c910b570baf6f7803fd</string>
	<key>Filename</key>
	<string>iPad3,1_6.1.2_10B146_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad3,1_6.1.2_10B146</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
