<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k93</string>
			<key>IV</key>
			<string>b7a093c3c94101a4e80a758eab4fc3eb</string>
			<key>Key</key>
			<string>1abf388fe4411f9881e22c8ddb0d7b72c513b9bdd466063bdc2bb793be3b3f27</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k93</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4442-009.dmg</string>
			<key>IV</key>
			<string>61cc3d07d3ad1abe93b5360a8626f623</string>
			<key>Key</key>
			<string>c0951f5b7dba1b0d590d345803fd0d513a0f4d3f37c25210cef8fb6c2d30517c</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4228-009.dmg</string>
			<key>IV</key>
			<string>45edee56bb315e7319e87aaa14ee0e08</string>
			<key>Key</key>
			<string>52ead031c3511af2c8e82f8a1185e77aa807c33d3df0db7809e6a23c59c2b15b</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>f20e2e8a5c3ed2b6fab4aefb440f4699</string>
			<key>Key</key>
			<string>81bee102d058a5ba41f0171e9b2d7add024151967889d37130dbf15199e75f76</string>
			<key>Patch</key>
			<string>iBSS.k93ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>3b46366e40670f3fbbd881257b9499ef</string>
			<key>Key</key>
			<string>dfa06a31944b6ffbad97adb8725f2bbafae55fd5639c783df473b76fae54027f</string>
			<key>Patch</key>
			<string>iBEC.k93ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93ap.production/DeviceTree.k93ap.img3</string>
			<key>IV</key>
			<string>784627a838511225fac042cf0ce8e083</string>
			<key>Key</key>
			<string>b6a1fb81efd30d44a3e8b1c91f5549a704b22120f66d57ff0ec318e5218b5efa</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93ap.production/applelogo.s5l8940x.img3</string>
			<key>IV</key>
			<string>bc449960341e8921d31f922b022ee4fa</string>
			<key>Key</key>
			<string>ffe5bfb38bad58ea0a3d69575faa9773c23b81623e45522820375420d1fabf06</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8940x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k93.plist</string>
	<key>RootFilesystem</key>
	<string>058-4388-009.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1419</integer>
	<key>RootFilesystemKey</key>
	<string>2ce48d3e6cbd6fd68c775f2f0261e205f27c78280035bb6bffadccfbec44f4d890bd34b9</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sochi11D257.K93OS</string>
	<key>SHA1</key>
	<string>e8525fc3ef66ac7a196240b98dc76108629f4a48</string>
	<key>Filename</key>
	<string>iPad2,1_7.1.2_11D257_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,1_7.1.2_11D257</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
