<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n49</string>
			<key>IV</key>
			<string>fc4abbf28bd6062fdc3569b8f6c45600</string>
			<key>Key</key>
			<string>e69c1762cd527eec3837ddfdb563b42f51d4caf89639f02bec5c57f6f54114a9</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n49</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4357-009.dmg</string>
			<key>IV</key>
			<string>67491499f9ce2223b64588d0c63ecfb5</string>
			<key>Key</key>
			<string>f2ba0d20d72ebaddb86e258ef9680424d77c6e58cb51dce0cc8685c6a23f87e6</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4276-009.dmg</string>
			<key>IV</key>
			<string>3a1989089cc1e657a640c323f320dc79</string>
			<key>Key</key>
			<string>8c5dda7a01517ec83e78544578629bf5f41d9143ea813e40f16aea4014fbeb8f</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n49ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>8c86c49bb07c5c98db2d442a9fd02185</string>
			<key>Key</key>
			<string>3c719369bd5d996ee5eb8131142c4993f3b740e0623d49c29215371adeecbded</string>
			<key>Patch</key>
			<string>iBSS.n49ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n49ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>d6be0d2b198816e7b1756f8e8f702ac9</string>
			<key>Key</key>
			<string>749abcc93c2da56ca50deae5abd39cc91b069862741b9452aa173ecd7681512e</string>
			<key>Patch</key>
			<string>iBEC.n49ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/DeviceTree.n49ap.img3</string>
			<key>IV</key>
			<string>a4b55528a6b4f97eb90cf535f6f0ea8d</string>
			<key>Key</key>
			<string>f17c6649b8e7b567d6ea7f302aa09b4948ddd7434f7b21c15ad2ad6662ba9a10</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n49ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>9e81e7de70555a77c8ca9ee14d00420b</string>
			<key>Key</key>
			<string>89e683b3820c83b0971e46c28ef3f11e851a4907b85bedffa14c4ccde8e5736c</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n49.plist</string>
	<key>RootFilesystem</key>
	<string>058-4366-009.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1665</integer>
	<key>RootFilesystemKey</key>
	<string>b4f5be8525b506e0edfcc5140c9bdbbac81303ffb8442e052a12a0d8db41c5e3e3ad9b16</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sochi11D257.N49OS</string>
	<key>SHA1</key>
	<string>68b03682e1529b4751c5620b77cb3bba26eb3dec</string>
	<key>Filename</key>
	<string>iPhone5,4_7.1.2_11D257_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,4_7.1.2_11D257</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
