<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.j2a</string>
			<key>IV</key>
			<string>81216ca61c770d1574cdf8134269fa3c</string>
			<key>Key</key>
			<string>d7da4700cb1b61ffca0db14a07d8523fba86bfaa0e3be2252ced7a4a90e95bc7</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.j2a</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2525-005.dmg</string>
			<key>IV</key>
			<string>fba67b6b0287d346d254152794569b7b</string>
			<key>Key</key>
			<string>6bb60f8d1aa59d2871e27d05a713b7c627be40c46f78103f3fe6b2db289be1b0</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2557-005.dmg</string>
			<key>IV</key>
			<string>491b5b47280e0f5d074bd7ce3ddcb88c</string>
			<key>Key</key>
			<string>eaab43dfe48ed09d3cf0bdd4f169a5c75d5d3fa4e8bbb1a366ed5b599b4a3025</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.j2aap.RELEASE.dfu</string>
			<key>IV</key>
			<string>bddda5b682c9044278bbd82dd800be9a</string>
			<key>Key</key>
			<string>023c7f98822fe3230f48dced2a1baa41bb524d096999fcdee762f3d69bb2db9c</string>
			<key>Patch</key>
			<string>iBSS.j2aap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.j2aap.RELEASE.dfu</string>
			<key>IV</key>
			<string>6331e3a65d829557578c6707d29517b6</string>
			<key>Key</key>
			<string>c8db5d6867ba37ed0f4262f27d690051d0d3704d94723f0fba09537e5d12206b</string>
			<key>Patch</key>
			<string>iBEC.j2aap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.j2aap.production/DeviceTree.j2aap.img3</string>
			<key>IV</key>
			<string>229b617c1880314c82f3427ebf1e0c18</string>
			<key>Key</key>
			<string>72a3b49e50ebdf1e2925245951428e480c8531123e10d01f1e968134932e85c8</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.j2aap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.j2aap.production/applelogo@2x.s5l8945x.img3</string>
			<key>IV</key>
			<string>97213b756451a4f79f9dd33ec04ebb84</string>
			<key>Key</key>
			<string>8fc99dde5e247cde5ff77bbcce2e78576bb6914a17052dacc7e22609596d041b</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8945x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.j2a.plist</string>
	<key>RootFilesystem</key>
	<string>048-2645-005.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1456</integer>
	<key>RootFilesystemKey</key>
	<string>b25062445770e1a11c83f1d3458854eed48e4e177c5bb1814445b14c06d6cad90694f35a</string>
	<key>RootFilesystemMountVolume</key>
	<string>BrightonMaps10B329.J2AOS</string>
	<key>SHA1</key>
	<string>5dee332abebbb3924d176cfa5e6ee7b76f1cc46f</string>
	<key>Filename</key>
	<string>iPad3,3_6.1.3_10B329_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad3,3_6.1.3_10B329</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
