<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n49</string>
			<key>IV</key>
			<string>7b3f1f780c6703bdecb0bef8b4436607</string>
			<key>Key</key>
			<string>8b90c8081f6ea540ad04fda290b85f5a06984656230254d3d27f49aa71b2edf2</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n49</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-09774-017.dmg</string>
			<key>IV</key>
			<string>0384ca6b645d2fe444137b1ec7ed90a6</string>
			<key>Key</key>
			<string>8e26d691a6623e284e5c9439680b0e903f4ac8ab87b8ce8eaa3633a3cf80a8dd</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-09687-017.dmg</string>
			<key>IV</key>
			<string>5e49f750810f0849816c743cf0c96f3c</string>
			<key>Key</key>
			<string>f29520faf4be17688c992d5ac4d233f7b028b3f7cca9a2aa93ee047f948953ee</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n49.RELEASE.dfu</string>
			<key>IV</key>
			<string>39495db41d8df4e6f7a0704adf2f0797</string>
			<key>Key</key>
			<string>09379ddfc77bb6f90aa42838de28fc3f1f2d6fba546ad3c167c9cb9190d01df0</string>
			<key>Patch</key>
			<string>iBSS.n49.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n49.RELEASE.dfu</string>
			<key>IV</key>
			<string>659abd575726c27501989388eae8ef73</string>
			<key>Key</key>
			<string>0afcf83bdeaa78a15834dbd5d6d13ae5f966d220c082cc9491cba397e8ede534</string>
			<key>Patch</key>
			<string>iBEC.n49.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/DeviceTree.n49ap.img3</string>
			<key>IV</key>
			<string>2f161399b1dfd1c7164c50c40c228634</string>
			<key>Key</key>
			<string>eb883df635830e4c549ba63290858a3c66719d3a5db136b5f83015e04d79ab57</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n49ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>0f26e4182ed76e6f2465e372f70b2d94</string>
			<key>Key</key>
			<string>087b3b6f0a7b36f715ba28a32c1faf68d3c37bd50f03bf2e60eaeb2a6c6fdc3c</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n49.plist</string>
	<key>RootFilesystem</key>
	<string>058-09782-017.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1971</integer>
	<key>RootFilesystemKey</key>
	<string>9834327ccdccbf18a9f74fb307ebdc30a50a33991d248b88902130b9bc5b682f97226117</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUOkemoTaos12B440.N49OS</string>
	<key>SHA1</key>
	<string>9068f83f6e102cf63ab2265d33314b3fbcf2bc61</string>
	<key>Filename</key>
	<string>iPhone5,4_8.1.2_12B440_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,4_8.1.2_12B440</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
