<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>c7901452e5c32f32a7195a77d126e592</string>
			<key>Key</key>
			<string>2697534225bb043f54c2db418b1584c969f3e4f11bca8cb1e6baffe7c815e73e</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4357-009.dmg</string>
			<key>IV</key>
			<string>c609eba82fe8acb1710ec3539a1d37eb</string>
			<key>Key</key>
			<string>b3070f4fb8da78d478ee2f5422b0988883f295208e78ab0d79f84ced490c22dd</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4276-009.dmg</string>
			<key>IV</key>
			<string>13b6456bec67fa74faada14e1c3607aa</string>
			<key>Key</key>
			<string>4e0bcc542aefc750cd463f6d0ed4710f15fb0ec0d2a11d4e213b6f58c1e20e87</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>d279e5c309be7ac035fd313958a178be</string>
			<key>Key</key>
			<string>617f7e2d5d8e2940a325758cd42055b83e2e3d243f068d5a9015b0fe67bed815</string>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>1d45b6ca42dafd5d711e3d23e5fa0fc7</string>
			<key>Key</key>
			<string>459912ddeeeb9d4a1c66068c8c1d8f46d8dd72e3e7dfa3ff0326f1ab6bb59c28</string>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>814b4f2f7ea8aa695ba9503663293222</string>
			<key>Key</key>
			<string>3df14c776de506ce08353d1c87d997f6f5a75343c83f8f43d313dae058aae2bd</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>9e81e7de70555a77c8ca9ee14d00420b</string>
			<key>Key</key>
			<string>89e683b3820c83b0971e46c28ef3f11e851a4907b85bedffa14c4ccde8e5736c</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>RootFilesystem</key>
	<string>058-4447-009.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1660</integer>
	<key>RootFilesystemKey</key>
	<string>16f99aba62c8325456e9f9c36c9ad31b4498c6f034042540222321b81ec4734b1a3780d0</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sochi11D257.N42OS</string>
	<key>SHA1</key>
	<string>1153d88387324db90b4b79323d304036e113829a</string>
	<key>Filename</key>
	<string>iPhone5,2_7.1.2_11D257_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone5,2_7.1.2_11D257</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
